
.Hname{
   
    color: rgb(209, 58, 58);
    text-align: center;
    margin-top: 2px;
    
}
.container{
    
    border: 1px solid grey;
    text-align: justify;
    padding: 15px;
    height: 721px;
    width: 383px;
    margin:auto;
    font-family: 'Roboto Slab', serif;
    
}
#table{
   
    text-align: center;
    border-collapse: collapse;
    
}
@media print{
    body *:not(.container):not(.container *){
        visibility: hidden;
    }
    .conatiner{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(231, 231, 231);
        text-align: justify;
        padding: 15px;
        height: 500px;
        width: 300px;
        margin:auto;
        font-family: 'Roboto Slab', serif;
    }
}
.inside{
    border: 1px solid grey;
    height: 500px;
    width: 350px;
    padding: 15px;
}
table{
    width: 100%;
    font-size: large;
    text-align: center;
    border: 1px solid grey;
    border-collapse: collapse;
    font-family: 'Roboto Slab', serif;
  }
  #hindi{
    font-family: 'Martel', serif;
  }