input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#table1{
  height: auto;
  border: solid rgb(10, 10, 10) 2px;
  width: auto;
  text-align: center;
}

table, th, td{
  
  border-collapse: collapse;
}

div{
  height: auto;
width: 400px;
}